html {
  /* font-size: 0.625; */
}


* {
  box-sizing: border-box;
}

body {
  /* background: lightslategrey; */
  background: #2a6898;
  /* font-size: 1.6rem; */
}

form.form-1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin: 100px auto auto;
  min-width: 320px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border: 0.3px solid #555;
}

button[type="button"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #45a049;
}

textarea.query-data {
  width: 100%;
  /* height: 150px; */
  padding: 12px 20px;
}